.nav-container {
  /* display: flex; */
  justify-content: center;
  /* margin-top: 10px; */
  position: relative;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFD700;
  width: 100%;
  /* border-radius: 50px; */
  height: 60px;
  padding: 0 25px;
}

/* Logo */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Desktop Links */
.link-container {
  display: flex;
  gap: 25px;
}

.link-container a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.link-container a:hover {
  color: #2A6FBD;
}

/* Right Section */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Login */
.login-btn {
  background-color: #2A6FBD;
  color: white;
  padding: 8px 18px;
  border-radius: 30px;
  text-decoration: none;
}

/* Menu Icon */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Drawer */
.drawer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 280px;
  height: 100vh;
  background-color: #2A6FBD;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 2000;
}

.drawer.open {
  right: 0;
}

.drawer a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 1500;
}

/* RESPONSIVE FIX */
@media (max-width: 1000px) {

  .link-container {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .login-btn {
    display: none;
  }
}
.link-container a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

/* Hover underline animation */
.link-container a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #2A6FBD;
  transition: 0.3s ease;
}

.link-container a:hover::after {
  width: 100%;
}

/* Active link underline */
.link-container a.active::after {
  width: 100%;
}