/* Join Section */
.join {
  padding: 24px 32px;
  background: #f9fafb;
  text-transform: uppercase;
}

.join h1 {
  font-size: 32px;
  font-weight: 700;
  color: #6D28D9;
  border-left: 5px solid #A78BFA;
  padding-left: 12px;
}

/* Center Container */
.over-join {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 24px;
  justify-content: center;
}

/* Frame */
/* Frame */
.frame {
  position: relative;
  background: #ffffff;
  padding: 5px;
  height: 300px;
  width: 350px;
  border-radius: 14px 14px 32px 14px;
  border-bottom-right-radius: 120px;
  box-shadow: 0 10px 24px rgba(15, 23, 42, 0.14);
  overflow: hidden;
}

/* Image */
.frame img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-bottom-right-radius: 120px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Zoom */
.frame:hover img {
  transform: scale(1.15);
}

/* Blue overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(37, 99, 235, 0.45);
  opacity: 0;
  transition: opacity 0.4s ease;
  border-bottom-right-radius: 120px;
}

.frame:hover .overlay {
  opacity: 1;
}

/* TEXT (always visible) */
.text-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 30px;
  /* background: rgba(0,0,0,0.55); */
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}