/* Section wrapper */
.info-section{
  width:100%;
  display:flex;
  justify-content:center;
  padding:60px 20px;
}

/* Image + Box container */
.info-container{
  max-width:1100px;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  align-items:stretch; /* makes them equal height */
}

/* Image */
.info-image{
  flex:1;
  min-width:300px;
}

.info-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/* Text Box */
.info-box{
  flex:1;
  min-width:300px;
  background:#000080;
  color:white;
  padding:30px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.info-box p {
  margin-top:20px;
  line-height:1.6;
}
.p-text-learn {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
  font-weight: bold;
}

/* Buttons container (2 per row) */
.button-container{
  margin-top:20px;
  display:flex;
  gap: 10px;
  flex-wrap:wrap;
}

/* Buttons */
.button-container a{
  width:100%; /* 🔥 makes 2 per row */
  padding:12px;
  text-align:center;
  border-radius: 30px;
  background:#f4b400;
  color:#000080;
  text-decoration:none;
  font-weight:600;
  /* border:1px solid white; */
}

/* Mobile */
@media (max-width:768px){

  .info-container{
    flex-direction:column;
  }

  .button-container a{
    width:100%; /* stack buttons on phone */
  }

}