.container {
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: 90vh;
  margin-top: -26px;
  border-radius: 10px;
  background-image: url('/bg.jpeg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* body {
} */
.page {
  margin-top: 120px;
  color: #333333;

  padding: 20px;
}
.transparent {
  background-color: transparent;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.9);
  width: 40%;
  padding: 10px;
  border-radius: 20px;
}
.nametext {
  padding: 20px;
  font-weight: bolder;
  font-size: 30px;
  color: #FFD700;
}
.btn {
display: flex;
gap: 10px;
margin: 10px;
}
.enquire{
   background-color: #FFD700;
  color: #2A6FBD;
  border: none;
  padding: 10px;
}
.enquire:hover {
  background-color: #e6c200;
}
.about {
  background-color: rgba(255, 255, 255, 0.9);
  color: #2A6FBD;
  border: none;
  padding: 10px;
}
.about:hover {
  background-color: #ffffff;
}